{{!< tests }}

<div id="root"></div>

<script src="/_/dyncomp/elementui/App.js"></script>

<script>

    Vue.config.productionTip = false
    window.drag = new Vue();

    new Vue({
        el: '#root',
        template: '<App/>',
        components: { App: dyncomp.elementui.App }
    })

</script>